body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

th {
    background-color: #f2f2f2;
}

th, td{
    border-bottom: 1px solid #ddd;
}

input[type="text"], select{
    border: 1px solid #ccc;
}

button{
    color: #fff;
}

h3{
    color: #333;
}

.container{
    background-color: #fff;
}

.file-label{
    background-color: #e0e0e0;
        color: #000;
}

.file-label:hover {
    background-color: #d0d0d0;
}