<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <link th:href="@{/utilisateur/style-signin.css}" rel="stylesheet" />
</head>
<body>
    <h1>Inscription</h1>
    <form class="form"  th:action="@{/form-signin}" method="post">
        <label>Nom</label>
        <input type="text" name="nom" id="nom">
        <label>Prenom</label>
        <input type="text" name="prenom" id="prenom">
        <label>Email</label>
        <input type="email" name="email" id="email">
        <label>Mot de passe</label>
        <input type="password" name="motDePasse" id="motDePasse">
        <label>Theme</label>
        <select name="idTheme">
            <option th:each="theme : ${themes}" th:value="${theme.id}" th:text="${theme.libelle}"></option>
        </select>
        <button type="submit" onclick="ajouterUtilisateur()">Inscription</button>
    </form>
    <script th:src="@{/utilisateur/script.js}"></script>
</body>
</html>