<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ajouter une réaction</title>
</head>
<body>
    <h3 th:text="${'Réagir au gif de ' + prenomUtilisateur}"></h3>
    <img th:src="${'/gifs-files/' + gifFileName}" class="image-gif">
    <select id="typeReaction" name="typeReaction">
        <option th:each="typeReaction : ${typeReactions}" th:value="${typeReaction.id}" th:text="${typeReaction.libelle}"></option>
    </select>
    <button>Réagir</button>
</body>
</html>