<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendrier</title>
    <link th:href="${theme}" rel="stylesheet" />
    <link th:href="@{/style-calendrier/style.css}" rel="stylesheet" />
</head>
<body>
    <h1>Calendrier</h1>
    <p th:text="@{'Utilisateur : ' + ${utilisateurDTO.prenom} + ' - solde : ' + ${utilisateurDTO.nombreDePoint}}"></p>
    <table>
        <tr>
            <th>Jour</th>
            <th>Gif <a href="?sort=gif">Trier</a></th>
            <th>Utilisateur</th>
            <th>Reaction(s)</th>
        </tr>
        <tr th:each="jour:${pageDeJours.getContent()}">
            <td><span th:text="${jour.getDate()}"></span></td>
            <td>
                <span th:if="${jour.getGif() != null}">
                   <img th:src="${'/gifs-files/' + jour.getGif().getFileName()}" class="image-gif">
                    <p th:text="${jour.getGif().getLegende()}"></p>
                </span>
                <span th:unless="${jour.getGif() != null}">
                    <p th:text="${jour.getValeur()} + ' points'"></p><br />
                    <a th:href="${'/calendrier/' + jour.getId() + '/placer-gif'}">Placer un gif distant</a>
                    <a th:href="${'/calendrier/' + jour.getId() + '/televerser-gif'}">Téléverser un gif distant</a>
                </span>
            </td>
            <td>
                <span th:if="${jour.getGif() != null && jour.getGif().getUtilisateur() != null}">
                    <p th:text="${jour.getGif().getUtilisateur().getPrenom()}"></p>
                </span>
            </td>
            <td>
                <span th:if="${jour.getGif() != null}">
                    <p th:each="reaction : ${jour.getGif().getReactions()}" th:utext="${reaction.getTypeReaction().getCode()} + ' ' + ${reaction.getUtilisateur().getPrenom()}"></p>
                    <a th:href="${'/gifs/' + jour.getGif().getId() + '/reagir'}">Réagir</a>
                 </span>
            </td>
        </tr>
    </table>
    <span th:if="${pageDeJours.getNumber() != 0}">
        <a href="?page=0">Première page</a>
        <a th:href="@{'?page=' + ${pageDeJours.getNumber() - 1}}">Page précédente</a>
    </span>
    <span th:if="${pageDeJours.getNumber() != pageDeJours.getTotalPages() - 1}">
        <a th:href="@{'?page=' + ${pageDeJours.getNumber() + 1}}">Page suivante</a>
        <a th:href="@{'?page=' + ${pageDeJours.getTotalPages() - 1}}">Dernière page</a>
    </span>
    <br>
    <span th:text="@{'Page ' + ${pageDeJours.getNumber() + 1} + ' sur ' + ${pageDeJours.getTotalPages()} + ' : ' + ${joursEnCours}}"></span>
</body>
</html>