<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Placement d'un gif</title>
    <link th:href="@{/style-calendrier/style-placement.css}" rel="stylesheet" />
    <link th:href="${theme}" rel="stylesheet" />
</head>
<body>
    <h3 th:text="@{'Placer un gif distant sur le ' + ${gifPlacementDTO.date}} + ' (nombre de points : ' + ${gifPlacementDTO.valeur} + ')'"></h3>
    <form action="/calendrier/form-televersement-gif" method="post" enctype="multipart/form-data">
        <input type="file" id="file" name="file">
        <label for="file" class="file-label">Fichier gif</label>
        <input type="text" name="legende" placeholder="Légende">
        <input type="text" name="idJour" th:value="${gifPlacementDTO.idJour}" style="display:none">
        <input type="text" name="idUtilisateur" th:value="${gifPlacementDTO.idUtilisateur}" style="display:none">
        <button type="submit">Placer</button>
    </form>
</body>
</html>